
:root {
    --bg-dark: hsl(0, 0%, 0%);
    --bg: hsl(0, 0%, 5%);
    --bg-light: hsl(0, 0%, 10%);
    --highlight: hsl(0, 0%, 15%);
    --text: hsl(0, 0%, 95%);
    --text-muted: hsl(0, 0%, 70%);

    --positiv: hsl(110, 80%, 40%);
    --positiv-muted: hsl(110, 80%, 30%);
    --negative: hsl(0, 80%, 50%);
    --negative-muted: hsl(0, 80%, 40%);
    font-family: Ubuntu, sans-serif;
}

body.light {
    --bg-dark: hsl(0, 0%, 90%);
    --bg: hsl(0, 0%, 95%);
    --bg-light: hsl(0, 0%, 100%);
    --text: hsl(0, 0%, 5%);
    --text-muted: hsl(0, 0%, 30%);
}

body {
    background-color: var(--bg-dark);
}

.header {
    color:var(--text);
    position: sticky;
}
.stocklist {
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    gap: 1ch;
    border-radius: 2ch;
    padding-bottom: 2ch;
}
.stocklist h2 {
    color: var(--text);
    text-align: center;
}
.stockoverview {
    background-color: var(--bg-light);
    color: var(--text-muted);
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    border-radius: 1ch;
    transition: background-color 0.1s, color 0.1s;
    margin: 0 2ch;
    align-items: center;
}
.stockoverview:hover {
    background-color: var(--highlight);
    color: var(--text);
}
.stockname {
    word-break: break-word;
    width: 40%;
    margin: 1ch;
}
.change {
    display: inline-block;
    background-color: var(--bg-light);
    font-family: "Ubuntu Mono",monospace;
    padding: 1ch;
    border-radius: 1ch;
    margin: 1ch;
    width: 8ch;
    text-align: center;
    transition: background-color 0.1s;
    color: var(--text);
}
.change.positive {
    background-color: var(--positiv-muted);
}

.change.positive:hover {
    background-color: var(--positiv);
}

.change.negative {
    background-color: var(--negative-muted);
}

.change.negative:hover {
    background-color: var(--negative);
}