
:root {
    --bg-dark: hsl(0, 0%, 0%);
    --bg: hsl(0, 0%, 5%);
    --bg-light: hsl(0, 0%, 10%);
    --highlight: hsl(0, 0%, 15%);
    --text: hsl(0, 0%, 95%);
    --text-muted: hsl(0, 0%, 70%);

    --positiv: hsl(110, 80%, 40%);
    --positiv-muted: hsl(110, 80%, 30%);
    --negative: hsl(0, 80%, 50%);
    --negative-muted: hsl(0, 80%, 40%);
    --icon-color: #888888;
    --icon-color-highlight: var(--text);
    --border-radius: 2ch;
    --bg-transition: background-color .1s;
    --popup-shadow: 0 8px 8px 0 rgba(0,0,0,.2);
    font-family: Ubuntu, sans-serif;
}

body[data-theme="light"] {
    --bg-dark: hsl(0, 0%, 85%);
    --bg: hsl(0, 0%, 90%);
    --bg-light: hsl(0, 0%, 95%);
    --highlight: hsl(0, 0%, 100%);
    --text: hsl(0, 0%, 5%);
    --text-muted: hsl(0, 0%, 30%);

    --positiv: hsl(110, 80%, 55%);
    --positiv-muted: hsl(110, 80%, 45%);
    --negative: hsl(0, 80%, 60%);
    --negative-muted: hsl(0, 80%, 50%);
    --icon-color-highlight: var(--text);
}

body {
    background-color: var(--bg-dark);
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}
.modal .content {
    background-color: var(--bg);
    margin: 10% auto;
    padding: 2rem;
    width: 70%;
    color: var(--text-muted);
    border-radius: var(--border-radius);
    box-shadow: var(--popup-shadow);
}

.modal h2 {
    color: var(--text);
}

.modal .closeBtn {
    color: var(--icon-color);
    float: right;
    font-size: 30px;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    transition: color .1s;
}
.modal .closeBtn:hover {
    color: var(--icon-color-highlight);
    cursor: pointer;
}

button {
    font-family: Ubuntu, sans-serif;
    background-color: var(--bg-light);
    color: var(--text);
    transition: var(--bg-transition);
    border: none;
}

button:hover {
    background-color: var(--highlight);
}

button:active {
    background-color: var(--bg-light);
    transition: background-color .2s;
}

.icon {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width: 2rem;
    height: 2rem;
}

header-bar {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(6, auto);
    text-decoration: none;
    position: sticky;
    top: 0;
    background-color: var(--bg-dark);
}

header-bar h1 {
    color:var(--text);
    grid-column: 1;
    padding-left: 1rem;
}

header-bar nav {
    grid-column: 2;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
}

header-bar nav a {
    color: var(--text);
    text-decoration: none;
}

header-bar search-bar {
    grid-column: 3/4;
    align-self: center;
}

search-bar {
    background-color: var(--bg-light);
    padding: 1rem;
    border-radius: var(--border-radius);
    transition: var(--bg-transition);
}

search-bar:focus-within {
    background-color: var(--highlight);
}

search-bar input:focus {
    background-color: var(--highlight);
}

search-bar input{
    width: 100%;
    background-color: var(--bg-light);
    border: none;
    font-size: 16px;
    color: var(--text);
    outline: none;
    transition: var(--bg-transition);
}
header-bar site-manager {
    grid-column: 6;
    padding-right: 1rem;
}
site-manager {
    color: var(--text);
    align-self: center;
    display: flex;
    justify-content: right;
    align-content: center;
    gap: .5rem;
}
site-manager button {
    padding: .5rem;
    font-size: 16px;
    border-radius: var(--border-radius);
}
user-manager {
    align-self: center;
}

user-manager button {
    display: flex;
    align-content: center;
    gap: 1ch
}

user-manager .name {
    align-self: center;
    text-align: center;
}
user-manager .icon {
    align-self: center;
}

theme-switcher button {
    background-color: var(--bg-light);
    padding: .5rem;
    align-self: center;
    text-align: center;
}

.stocklist {
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    gap: 1ch;
    border-radius: var(--border-radius);
    padding-bottom: 2ch;
}
.stocklist p {
    color: var(--text-muted);
    align-self: center;
}
.stocklist h2 {
    color: var(--text);
    text-align: center;
}
.stockoverview {
    background-color: var(--bg-light);
    color: var(--text-muted);
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    border-radius: 1ch;
    transition: var(--bg-transition), color 0.1s;
    margin: 0 var(--border-radius);
    align-items: center;
    text-decoration: none;
}
.stockoverview:hover {
    background-color: var(--highlight);
    color: var(--text);
}
.stockname {
    word-break: break-word;
    width: 40%;
    margin: 1ch;
}
.change {
    display: inline-block;
    background-color: var(--bg-light);
    font-family: "Ubuntu Mono",monospace;
    padding: 1ch;
    border-radius: 1ch;
    margin: 1ch;
    width: 8ch;
    text-align: center;
    transition: var(--bg-transition);
    color: var(--text);
}
.positive > .change {
    background-color: var(--positiv-muted);
}

.positive > .change:hover {
    background-color: var(--positiv);
}

.negative > .change {
    background-color: var(--negative-muted);
}

.negative > .change:hover {
    background-color: var(--negative);
}