
:root {
    --bg-dark: hsl(0, 0%, 0%);
    --bg: hsl(0, 0%, 5%);
    --bg-light: hsl(0, 0%, 10%);
    --highlight: hsl(0, 0%, 15%);
    --text: hsl(0, 0%, 95%);
    --text-muted: hsl(0, 0%, 70%);

    --positiv: hsl(110, 80%, 40%);
    --positiv-muted: hsl(110, 80%, 30%);
    --negative: hsl(0, 80%, 50%);
    --negative-muted: hsl(0, 80%, 40%);
    --icon-color: #888888;
    --icon-color-highlight: var(--text);
    --border-radius: 2ch;
    --bg-transition: background-color .1s;
    --popup-shadow: 0 8px 8px 0 rgba(0,0,0,.2);
    --button-hover-shadow: var(--popup-shadow);
    font-family: Ubuntu, sans-serif;
}

body[data-theme="light"] {
    --bg-dark: hsl(0, 0%, 85%);
    --bg: hsl(0, 0%, 90%);
    --bg-light: hsl(0, 0%, 95%);
    --highlight: hsl(0, 0%, 100%);
    --text: hsl(0, 0%, 5%);
    --text-muted: hsl(0, 0%, 30%);

    --positiv: hsl(110, 80%, 55%);
    --positiv-muted: hsl(110, 80%, 45%);
    --negative: hsl(0, 80%, 60%);
    --negative-muted: hsl(0, 80%, 50%);
    --icon-color-highlight: var(--text);
}

body {
    background-color: var(--bg-dark);
    color: var(--text-muted);
}

h1 {
    color:var(--text);
}

.dropdown {
    background-color: var(--bg-light);
    box-shadow: var(--popup-shadow);
    color: var(--text-muted);
    border-radius: var(--border-radius);
    border: 0;
    padding: 1rem;
    margin-block-start: .5rem;
    inset: auto;
    /*noinspection CssInvalidFunction*/
    top: anchor(bottom);
    /*noinspection CssInvalidFunction*/
    left: anchor(left);
    position-try-fallbacks: --fallback-right;
}

.dropdown:popover-open {
    display: grid;
}

/*noinspection CssInvalidAtRule*/
@position-try --fallback-right {
    inset: auto;
    /*noinspection CssInvalidFunction*/
    top: anchor(bottom);
    /*noinspection CssInvalidFunction*/
    right: anchor(right);
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    backdrop-filter: blur(3px);
    background-color: rgba(0,0,0,.4);
}
.modal .outer {
    background-color: var(--bg);
    margin: 10% auto;
    padding: 2rem;
    width: 70%;
    color: var(--text-muted);
    border-radius: var(--border-radius);
    box-shadow: var(--popup-shadow);
}

.modal .content input {
    width: 32ch;
}

.modal .pair {
    display: flex;
    justify-content: space-between;
}
.modal .pair:focus-within {
    color: var(--text);
}

.modal .info.positive {
    color: var(--positiv-muted);
}

.modal .info.negative {
    color: var(--negative-muted);
}

.modal h2 {
    color: var(--text);
    text-align: center;
}

.modal .closeBtn {
    color: var(--icon-color);
    float: right;
    font-size: 30px;
    /*noinspection CssUnknownProperty*/
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    transition: color .1s;
}
.modal .closeBtn:hover {
    color: var(--icon-color-highlight);
    cursor: pointer;
}

.modal input {
    height: 2rem;
}

button {
    font-family: Ubuntu, sans-serif;
    background-color: var(--bg-light);
    color: var(--text);
    transition: var(--bg-transition), box-shadow .1s;
    border: none;
    padding: .5rem;
    font-size: 16px;
    border-radius: var(--border-radius);
}

button:hover {
    background-color: var(--highlight);
    box-shadow: var(--button-hover-shadow);
    top: auto;
    z-index: 1;
}

button:active {
    background-color: var(--bg-light);
    transition: background-color .2s;
}

.icon {
    /*noinspection CssUnknownProperty*/
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width: 2rem;
    height: 2rem;
}

header-bar {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(6, auto);
    text-decoration: none;
    position: sticky;
    top: 0;
    background-color: var(--bg-dark);
}

header-bar h1 {
    grid-column: 1;
    padding-left: 1rem;
}

header-bar nav {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    margin: .5rem;
}
header-bar nav.create {
    display: flex;
    justify-content: flex-start;
}

header-bar a {
    color: var(--text);
    text-decoration: none;
}

header-bar search-bar {
    grid-column: 3/4;
    align-self: center;
}

search-bar {
    background-color: var(--bg-light);
    padding: .5rem;
    border-radius: var(--border-radius);
    transition: var(--bg-transition);
}

search-bar:focus-within {
    background-color: var(--highlight);
}

input:focus {
    background-color: var(--highlight);
}

input {
    background-color: var(--bg-light);
    border: none;
    font-size: 16px;
    color: var(--text);
    outline: none;
    transition: var(--bg-transition);
    padding: .5rem;
    border-radius: var(--border-radius);
}

search-bar input{
    width: 100%;
    height: 2rem;
    padding: 0;
    border-radius: 0;
}
header-bar nav.site-manager {
    grid-column: 6;
    padding-right: 1rem;
}
nav.site-manager {
    color: var(--text);
    align-self: center;
    display: flex;
    justify-content: right;
    align-content: center;
    gap: .5rem;
}
user-manager {
    align-self: center;
}

user-manager button {
    display: flex;
    align-content: center;
    gap: 1ch
}

user-manager .name {
    align-self: center;
    text-align: center;
}
user-manager .icon {
    align-self: center;
}

theme-switcher button {
    background-color: var(--bg-light);
    padding: .5rem;
    align-self: center;
    text-align: center;
}

.stocklist {
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    gap: 1ch;
    border-radius: var(--border-radius);
    padding-bottom: 2ch;
}
.stocklist p {
    color: var(--text-muted);
    align-self: center;
}
.stocklist h2 {
    color: var(--text);
    text-align: center;
}
.stockoverview {
    background-color: var(--bg-light);
    color: var(--text-muted);
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    border-radius: 1ch;
    transition: var(--bg-transition), color 0.1s;
    margin: 0 var(--border-radius);
    align-items: center;
    text-decoration: none;
}
.stockoverview:hover {
    background-color: var(--highlight);
    color: var(--text);
}
.stockname {
    word-break: break-word;
    width: 40%;
    margin: 1ch;
    text-decoration: none;
    color: var(--text-muted);
}

.stockoverview:hover .stockname {
    color: var(--text);
}

.change {
    display: inline-block;
    background-color: var(--bg-light);
    font-family: "Ubuntu Mono",monospace;
    padding: 1ch;
    border-radius: 1ch;
    margin: 1ch;
    width: 8ch;
    text-align: center;
    transition: var(--bg-transition);
    color: var(--text);
}
.positive > .change {
    background-color: var(--positiv-muted);
}

.positive > .change:hover {
    background-color: var(--positiv);
}

.negative > .change {
    background-color: var(--negative-muted);
}

.negative > .change:hover {
    background-color: var(--negative);
}


stock-chart svg path {
    fill:none;
    stroke-width:1;
}

stock-chart svg path.positive {
    stroke:var(--positiv-muted);
}

stock-chart svg path.positive:hover {
    stroke:var(--positiv);
}

stock-chart svg path.negative {
    stroke:var(--negative-muted);
}

stock-chart svg path.negative:hover {
    stroke:var(--negative);
}

stock-chart div.inner {
    background-color: var(--bg);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
}

stock-chart svg line.axis {
    stroke: var(--icon-color);
    stroke-width: 1;
    stroke-linecap: square;
}

.login-field {
    background: var(--bg);
    padding: 2rem;
    margin:auto;
    border-radius: var(--border-radius);
    width: 60%;
}

.login-field input {
    width: 32ch;
}

.login-field .pair {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.login-field .pair:focus-within {
    color: var(--text);
}

.login-field button {
    padding: 1rem;
}

.login-field .pair .info {
    color: var(--negative-muted);
}
.login-field .pair:focus-within .info {
    color: var(--negative);
}

