
:root {
    --bg-very-dark: hsl(0, 0%, 3%);
    --bg-dark: hsl(0, 0%, 10%);
    --bg: hsl(0, 0%, 15%);
    --bg-light: hsl(0, 0%, 20%);
    --bg-very-light: hsl(0, 0%, 25%);
    --highlight: hsl(0, 0%, 30%);
    --text: hsl(0, 0%, 95%);
    --text-muted: hsl(0, 0%, 70%);

    --positiv: hsl(110, 80%, 40%);
    --positiv-muted: hsl(110, 80%, 30%);
    --negative: hsl(0, 80%, 50%);
    --negative-muted: hsl(0, 80%, 40%);
    --icon-color: #888888;
    --icon-color-highlight: var(--text);
    --border-radius: 2ch;
    --bg-transition: background-color .1s;
    --popup-shadow: 0 8px 8px 0 rgba(0,0,0,.2);
    --button-hover-shadow: var(--popup-shadow);
    font-family: Ubuntu, sans-serif;
}

body[data-theme="light"] {
    --bg-very-dark: hsl(0, 0%, 75%);
    --bg-dark: hsl(0, 0%, 80%);
    --bg: hsl(0, 0%, 85%);
    --bg-light: hsl(0, 0%, 90%);
    --bg-very-light: hsl(0, 0%, 95%);
    --highlight: hsl(0, 0%, 100%);
    --text: hsl(0, 0%, 5%);
    --text-muted: hsl(0, 0%, 20%);

    --positiv: hsl(110, 80%, 55%);
    --positiv-muted: hsl(110, 80%, 45%);
    --negative: hsl(0, 80%, 60%);
    --negative-muted: hsl(0, 80%, 50%);
    --icon-color-highlight: var(--text);
}

body {
    background-color: var(--bg-very-dark);
    color: var(--text-muted);
    height: 100vh;
}

h1 {
    color:var(--text);
}

div.rootsplit {
    display: grid;
    grid-template-columns: 15rem auto;
    grid-template-rows: auto;
    gap: 1rem;
    height: calc(100vh - 8rem);
    margin-left: .5rem;
}

div.sidebar {
    background-color: var(--bg-dark);
    border-radius: var(--border-radius);
    padding: 1rem;
    height: calc(100vh - 9rem);
}

nav.linklist {
    display: grid;
    gap: .1rem;
}

main {
    overflow: auto;
    margin: 0 .5rem;
}

main.stockOverviewPage {
    display: grid;
    grid-template: 4rem auto / 2fr 1fr 2fr;
    gap: 1rem;
}

main.stockOverviewPage stock-header {
    grid-column: 1/4;
}

main.stockOverviewPage stock-chart {
    grid-column: 1/3;
}

div.sidebar a {
    color: var(--text);
    text-decoration: none;
    border-radius: var(--border-radius);
    align-self: center;
    text-align: center;
}

div.sidebar a.btn {
    background-color: var(--bg-dark);
}

div.sidebar a:hover {
    background-color: var(--highlight);
}

div.sidebar a.btn.selected {
    background-color: var(--bg-light);
}
div.sidebar a.btn.selected:hover {
    background-color: var(--highlight);
}

.dropdown {
    background-color: var(--bg-light);
    box-shadow: var(--popup-shadow);
    color: var(--text-muted);
    border-radius: var(--border-radius);
    border: 0;
    padding: 1rem;
    margin-block-start: .5rem;
    inset: auto;
    /*noinspection CssInvalidFunction*/
    top: anchor(bottom);
    /*noinspection CssInvalidFunction*/
    left: anchor(left);
    position-try-fallbacks: --fallback-right;
}

.dropdown:popover-open {
    display: grid;
}

.dropdown button {
    background-color: var(--bg-light);
}

.dropdown a.btn {
    background-color: var(--bg-light);
}

/*noinspection CssInvalidAtRule*/
@position-try --fallback-right {
    inset: auto;
    /*noinspection CssInvalidFunction*/
    top: anchor(bottom);
    /*noinspection CssInvalidFunction*/
    right: anchor(right);
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    backdrop-filter: blur(3px);
    background-color: rgba(0,0,0,.4);
}
.modal .outer {
    background-color: var(--bg-dark);
    margin: 10% auto;
    padding: 2rem;
    width: 70%;
    color: var(--text-muted);
    border-radius: var(--border-radius);
    box-shadow: var(--popup-shadow);
}

.modal .content input {
    width: 32ch;
    height: 2rem;
}

.modal .content input.price {
    text-align: left;
    margin: 0;
}

.modal .content input.title {
    width: calc(100% - 1rem);
    margin: 0;
}

.modal .content textarea.body {
    resize: none;
    font-family: "Ubuntu Sans";
    padding: .5rem;
    background-color: var(--bg);
    border: none;
    color: var(--text-muted);
    border-radius: var(--border-radius);
    width: calc(100% - 1rem);
}
.modal .content textarea.body:focus {
    outline: none;
}

.modal .content div.textField:focus-within p {
    color: var(--text);
}

.modal .content div.textField {
    margin-bottom: 1rem;
}

.modal .pair {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.modal .pair:focus-within {
    color: var(--text);
}

.modal button {
    padding: 1rem;
}

.modal .info.positive {
    color: var(--positiv-muted);
}

.modal .info.negative {
    color: var(--negative-muted);
}

.modal h2 {
    color: var(--text);
    text-align: center;
}

.modal .closeBtn {
    color: var(--icon-color);
    float: right;
    font-size: 30px;
    /*noinspection CssUnknownProperty*/
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    transition: color .1s;
}
.modal .closeBtn:hover {
    color: var(--icon-color-highlight);
    cursor: pointer;
}

button {
    font-family: Ubuntu, sans-serif;
    background-color: var(--bg);
    color: var(--text);
    transition: var(--bg-transition), box-shadow .1s;
    border: none;
    padding: .5rem;
    font-size: 16px;
    border-radius: var(--border-radius);
}

button:hover {
    background-color: var(--highlight);
    box-shadow: var(--button-hover-shadow);
    top: auto;
    z-index: 1;
}

button:active {
    background-color: var(--bg);
    transition: background-color .2s;
}

a.btn {
    font-family: Ubuntu, sans-serif;
    background-color: var(--bg);
    color: var(--text);
    transition: var(--bg-transition), box-shadow .1s;
    border: none;
    padding: .5rem;
    font-size: 16px;
    border-radius: var(--border-radius);
    text-decoration: none;
    text-align: center;
}

a.btn:hover {
    background-color: var(--highlight);
    box-shadow: var(--button-hover-shadow);
    top: auto;
    z-index: 1;
}

.icon {
    /*noinspection CssUnknownProperty*/
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width: 2rem;
    height: 2rem;
}

header-bar {
    height: 5rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(6, auto);
    text-decoration: none;
    position: sticky;
    top: 0;
    background-color: var(--bg-very-dark);
}

header-bar h1 {
    grid-column: 1;
    padding-left: 1rem;
}

header-bar nav {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    margin: .5rem;
}
header-bar nav.create {
    display: flex;
    justify-content: flex-start;
}

header-bar a {
    color: var(--text);
    text-decoration: none;
}

header-bar search-bar {
    grid-column: 3/4;
    align-self: center;
}

search-bar {
    background-color: var(--bg);
    padding: .5rem;
    border-radius: var(--border-radius);
    transition: var(--bg-transition);
}

search-bar:focus-within {
    background-color: var(--bg-light);
    box-shadow: var(--popup-shadow);
}

search-bar input:focus {
    background-color: var(--bg-light);
}

input:focus {
    background-color: var(--highlight);
}

input {
    background-color: var(--bg);
    border: none;
    font-size: 16px;
    color: var(--text);
    outline: none;
    transition: var(--bg-transition);
    padding: .5rem;
    border-radius: var(--border-radius);
}

search-bar input{
    width: 100%;
    height: 2rem;
    padding: 0;
    border-radius: 0;
}
header-bar nav.site-manager {
    grid-column: 6;
}
nav.site-manager {
    color: var(--text);
    align-self: center;
    display: flex;
    justify-content: right;
    align-content: center;
    gap: .5rem;
}
user-manager {
    align-self: center;
}

user-manager button {
    display: flex;
    align-content: center;
    gap: 1ch
}

user-manager .name {
    align-self: center;
    text-align: center;
}
user-manager .icon {
    align-self: center;
}

theme-switcher button {
    background-color: var(--bg);
    padding: .5rem;
    align-self: center;
    text-align: center;
}

.inner {
    background-color: var(--bg-dark);
    border-radius: var(--border-radius);
    padding: 1rem;
}

ul.inner {
    display: flex;
    flex-direction: column;
    gap: 1ch;
    list-style-type:none;
    margin-top: 0;
}

ul.inner p {
    color: var(--text-muted);
    align-self: center;
}
ul.inner h2 {
    color: var(--text);
    text-align: center;
}
.stockOverview {
    background-color: var(--bg);
    color: var(--text-muted);
    max-width: 100%;
    border-radius: var(--border-radius);
    transition: var(--bg-transition), color 0.1s;
    margin: 0;
    align-items: center;
}

.stockOverview .containing {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.stockOverview:hover {
    background-color: var(--bg-light);
    color: var(--text);
}

.stockOverview:hover .change {
    background-color: var(--bg-very-light);
}

.stockName {
    word-break: break-word;
    width: 40%;
    margin: 1ch;
    text-decoration: none;
    align-self: center;
    color: var(--text-muted);
}

.stockOverview:hover .stockName {
    color: var(--text);
}

.articlePreview {
    background-color: var(--bg);
    color: var(--text-muted);
    max-width: 100%;
    border-radius: var(--border-radius);
    transition: var(--bg-transition), color 0.1s;
    margin: 0 var(--border-radius);
    align-items: center;
}

.articlePreview a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.articlePreview:hover {
    background-color: var(--bg-light);
    color: var(--text);
}
.title {
    word-break: break-word;
    width: 40%;
    margin: 1ch;
    text-decoration: none;
    align-self: center;
    color: var(--text-muted);
}

.articlePreview:hover .titel {
    color: var(--text);
}

.articlePreview .change {
    width: 12ch;
}
.articlePreview:hover .change {
    background-color: var(--bg-very-light);
}


.change {
    display: inline-block;
    background-color: var(--bg-light);
    font-family: "Ubuntu Mono",monospace;
    padding: .75rem;
    border-radius: var(--border-radius);
    margin: 1ch;
    width: 8ch;
    text-align: center;
    transition: var(--bg-transition);
    color: var(--text);
}

.positive > .change {
    background-color: var(--positiv-muted);
}

.stockOverview:hover .positive > .change {
    background-color: var(--positiv);
}

.negative > .change {
    background-color: var(--negative-muted);
}

.stockOverview:hover .negative > .change {
    background-color: var(--negative);
}


stock-chart svg path {
    fill:none;
    stroke-width:1;
}

stock-chart svg path.positive {
    stroke:var(--positiv-muted);
}

stock-chart svg path.positive:hover {
    stroke:var(--positiv);
}

stock-chart svg path.negative {
    stroke:var(--negative-muted);
}

stock-chart svg path.negative:hover {
    stroke:var(--negative);
}

stock-chart svg line.axis {
    stroke: var(--icon-color);
    stroke-width: 1;
    stroke-linecap: square;
}

.login-field {
    background: var(--bg-dark);
    padding: 2rem;
    margin:auto;
    border-radius: var(--border-radius);
    width: 60%;
}

.login-field input {
    width: 32ch;
}

.login-field .pair {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.login-field .pair:focus-within {
    color: var(--text);
}

.login-field button {
    padding: 1rem;
}

.login-field .pair .info {
    color: var(--negative-muted);
}
.login-field .pair:focus-within .info {
    color: var(--negative);
}

.titlebar {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    align-items: center;
}

.titlebar h1 {
    text-align: center;
}

.titlebar nav {
    justify-self: right;
}

.price {
    display: inline-block;
    background-color: var(--bg);
    font-family: "Ubuntu Mono",monospace;
    padding: .75rem;
    border-radius: var(--border-radius);
    margin: 1ch;
    width: fit-content;
    text-align: center;
    transition: var(--bg-transition);
    color: var(--text);
    align-self: center;
}

.article {
    background-color: var(--bg-dark);
    border-radius: var(--border-radius);
    padding: 1rem;
    max-width: 70ch;
    line-height: 1.5em;
    font-size: 20px;
    margin: auto;
}
