
:root {
    --bg-very-dark: hsl(0, 0%, 3%);
    --bg-dark: hsl(0, 0%, 10%);
    --bg: hsl(0, 0%, 15%);
    --bg-light: hsl(0, 0%, 20%);
    --bg-very-light: hsl(0, 0%, 25%);
    --highlight: hsl(0, 0%, 30%);
    --text: hsl(0, 0%, 95%);
    --text-muted: hsl(0, 0%, 70%);

    --positiv: hsl(110, 80%, 50%);
    --positiv-muted: hsl(110, 80%, 80%);
    --negative: hsl(0, 80%, 60%);
    --negative-muted: hsl(0, 80%, 70%);
    --icon-color: #888888;
    --icon-color-highlight: var(--text);

    --main-width: 75%;
    --border-radius: 2ch;
    --bg-transition: background-color .1s;
    --popup-shadow: 0 8px 8px 0 rgba(0,0,0,.2);
    --button-hover-shadow: 0 4px 4px 0 rgba(0,0,0,.2);
    font-family: Ubuntu, sans-serif;
}

body[data-theme="light"] {
    --bg-very-dark: hsl(0, 0%, 75%);
    --bg-dark: hsl(0, 0%, 80%);
    --bg: hsl(0, 0%, 85%);
    --bg-light: hsl(0, 0%, 90%);
    --bg-very-light: hsl(0, 0%, 95%);
    --highlight: hsl(0, 0%, 100%);
    --text: hsl(0, 0%, 5%);
    --text-muted: hsl(0, 0%, 20%);

    --positiv: hsl(110, 80%, 55%);
    --positiv-muted: hsl(110, 80%, 45%);
    --negative: hsl(0, 80%, 60%);
    --negative-muted: hsl(0, 80%, 50%);
    --icon-color-highlight: var(--text);
}

body {
    background-color: var(--bg-very-dark);
    color: var(--text-muted);
    height: calc(100vh - 5rem);
    margin: 0;
}

h1 {
    color:var(--text);
}

div.rootsplit {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 15rem auto;
    grid-template-rows: auto;
    gap: 1rem;
    height: calc(100vh - 8rem);
    margin-left: .5rem;
}

div.sidebar {
    background-color: var(--bg-dark);
    border-radius: var(--border-radius);
    padding: 1rem;
    height: calc(100vh - 9rem);
    position: fixed;
    width: 15rem;
}

nav.linklist {
    display: grid;
    gap: .1rem;
}

main {
    margin: 5rem auto 0 auto;
    width: var(--main-width);
}
.rootsplit main {
    margin: 0 auto;
}

main.homepage {
    display: grid;
    grid-template: fit-content(40rem) auto / repeat(6, 1fr);
    gap: 1rem;
}

main.homepage .starredStocksList {
    grid-column: 1/4;
    overflow: auto;
}
main.homepage stockgroups-starred-list {
    grid-column: 4/7;
    overflow: auto;
}

main.homepage .articleInbox {
    grid-column: 1/7;
    height: 100%;
    overflow: auto;
}

main.individualStockPage {
    display: grid;
    grid-template: 4rem fit-content(25rem) auto / 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

main.individualStockPage stock-header {
    grid-column: 1/6;
}

main.individualStockPage stock-chart {
    grid-column: 1/4;
    height: 100%;
}
main.individualStockPage stock-chart .inner {
    height: calc(100% - 2rem);
}

main.individualStockPage stock-chart svg.chart {
    display: block;
    margin: 0 auto;
}

main.individualStockPage related-stocks {
    overflow: auto;
    grid-column: 4/6;
}

main.individualStockPage related-stocks ul.inner {
    margin: 0;
}


main.individualStockPage stock-influence-list {
    grid-column: 1/4;
}

main.individualStockPage stock-groups-list {
    grid-column: 4/6;
}

div.creationDate {
    width: fit-content;
    background-color: var(--bg);
}

div.titlebar div.info div.value {
    color: var(--text);
    background-color: var(--bg);
}

div.author {
    background-color: var(--bg);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    align-content: center;
}

main.stockGroupOverviewPage {
    display: grid;
    grid-template: 4rem fit-content(25rem) fit-content(25rem) / repeat(5, 1fr);
    gap: 1rem;
}
main.stockGroupOverviewPage stock-group-header {
    grid-column: 1/6;
}
main.stockGroupOverviewPage stockgroups-member-pie-chart {
    grid-column: 1/3;
    width: 75%;
    margin: 0 auto
}
main.stockGroupOverviewPage stockgroups-members-list {
    grid-column: 3/6;
    overflow: auto;
}

main.stockGroupOverviewPage stock-group-description {
    grid-column: 4/6;
    overflow: auto;
}

main.stockGroupOverviewPage stockgroup-influence-list {
    grid-column: 1/6;
}

main.stockGroupOverviewPage stock-group-chart {
    grid-column: 1/4;
}

main.stockGroupOverviewPage stock-group-description .inner {
    height: calc(100% - 2rem);
    font-size: 1.3rem;
}

div.sidebar a {
    color: var(--text);
    text-decoration: none;
    border-radius: var(--border-radius);
    align-self: center;
    text-align: center;
}

div.sidebar a.btn {
    background-color: var(--bg-dark);
}

div.sidebar a:hover {
    background-color: var(--highlight);
}

div.sidebar a.btn.selected {
    background-color: var(--bg-light);
}
div.sidebar a.btn.selected:hover {
    background-color: var(--highlight);
}

.dropdown {
    background-color: var(--bg-light);
    box-shadow: var(--popup-shadow);
    color: var(--text-muted);
    border-radius: var(--border-radius);
    border: 0;
    padding: 1rem;
    margin-block-start: .5rem;
    inset: auto;
    /*noinspection CssInvalidFunction*/
    top: anchor(bottom);
    /*noinspection CssInvalidFunction*/
    left: anchor(left);
    position-try-fallbacks: --fallback-right, --fallback-bottom;


    button {
        background-color: var(--bg-light);
    }
    button.selected {
        background-color: var(--bg-very-light);
    }
    button:hover {
        z-index: 1;
    }
    a.btn {
        background-color: var(--bg-light);
    }
    .searchResult {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    p.sectionHeader {
        text-align: center;
        margin: .25rem 0;
    }
    div.pair {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        margin-bottom: .25rem;
    }
    div.pair input {
        width: 8rem;
        padding: .25rem;
        background-color: var(--bg-very-light);
    }
    div.pair:focus-within p {
        color: var(--text);
    }
    div.pair button {
        width: 8rem;
        background-color: var(--bg-very-light);
    }
    div.pair falloff-selector {
        align-self: center;
    }
    div.colorDisplayRow {
        display: flex;
        height: 2rem;
        justify-content: space-evenly;
        gap: .5rem;
        margin: .25rem 0;

        div.colorDisplay {
            width: 100%;
            border-radius: var(--border-radius);
        }
        div.colorDisplay:hover {
            box-shadow: var(--button-hover-shadow);
        }
    }
}

.dropdown.stockSelection .searchResult {
    max-width: 32ch;
}

.dropdown:popover-open {
    display: grid;
}

/*noinspection CssInvalidAtRule*/
@position-try --fallback-right {
    inset: auto;
    /*noinspection CssInvalidFunction*/
    top: anchor(bottom);
    /*noinspection CssInvalidFunction*/
    right: anchor(right);
}
/*noinspection CssInvalidAtRule*/
@position-try --fallback-bottom {
    inset: auto;
    /*noinspection CssInvalidFunction*/
    bottom: anchor(top);
    /*noinspection CssInvalidFunction*/
    right: anchor(right);
    margin-block-end: .5rem;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    backdrop-filter: blur(3px);
    background-color: rgba(0,0,0,.4);

    .outer {
        background-color: var(--bg-dark);
        margin: 6rem auto;
        padding: 2rem;
        width: 40%;
        max-height: calc(100% - 16rem);
        color: var(--text-muted);
        border-radius: var(--border-radius);
        box-shadow: var(--popup-shadow);
        overflow: auto;
    }

    .content {
        display: grid;
        gap: .5rem;

        input {
            width: 32ch;
            height: 2rem;
        }
        input.price {
            text-align: left;
            margin: 0;
        }
        input.title {
            width: calc(100% - 1rem);
            margin: 0;
        }
        textarea {
            resize: none;
            font-family: "Ubuntu Sans";
            padding: .5rem;
            background-color: var(--bg);
            border: none;
            color: var(--text-muted);
            border-radius: var(--border-radius);
            width: calc(100% - 1rem);
        }
        textarea:focus {
            outline: none;
        }
        div.textField:focus-within p {
            color: var(--text);
        }
        .permission .inputField {
            width: 6rem;
        }
    }

    h2 {
        color: var(--text);
        text-align: center;
    }

    .closeBtn {
        color: var(--icon-color);
        float: right;
        font-size: 30px;
        /*noinspection CssUnknownProperty*/
        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        transition: color .1s;
    }
    .closeBtn:hover {
        color: var(--icon-color-highlight);
        cursor: pointer;
    }
    button {
        padding: 1rem;
    }
    stock-selector,stock-influence-selector .inner {
        padding: 0;
    }
    stock-influence-selector falloff-selector button {
        padding: .5rem;
        min-height: 3rem;
        background-color: var(--bg-light);
    }

    div.submit {
        position: sticky;
        bottom: 0;
        background-color: var(--bg-dark);
        padding-top: .5rem;
        padding-bottom: 2rem;
    }

    .outer:has(div.submit, div.dangerZone) {
        padding-bottom: 0;
    }
}

.modal.wider .outer {
    width: 50%;
}

.modal.confirm-modal {
    z-index: 2;
    .outer {
        width: fit-content;
    }
    input.repetition {
        width: calc(100% - 1rem);
    }
    .buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: .75rem;
    }
}

.pair {
    display: flex;
    justify-content: space-between;
}
.pair:focus-within p {
    color: var(--text);
}
.info.positive {
    color: var(--positiv-muted);
}

.info.negative {
    color: var(--negative-muted);
}

.removeStockBtn {
    margin-right: .5rem;
}


edit-influence button.influenceOverview {
    background-color: var(--bg-light);
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    width: 100%;
    padding: .5rem;
}
div.containing:hover edit-influence button.influenceOverview {
    background-color: var(--bg-very-light);
}

button {
    font-family: Ubuntu, sans-serif;
    background-color: var(--bg);
    color: var(--text);
    transition: var(--bg-transition), box-shadow .1s;
    border: none;
    padding: .5rem;
    font-size: 16px;
    border-radius: var(--border-radius);
}


button:hover {
    background-color: var(--highlight);
    box-shadow: var(--button-hover-shadow);
    top: auto;
}
button.selected:hover {
    background-color: var(--highlight);
    box-shadow: var(--button-hover-shadow);
    top: auto;
}

button.selected {
    color: var(--text);
    background-color: var(--bg-light);
}

button:active {
    background-color: var(--bg-light);
    transition: background-color .2s;
}

a.btn {
    font-family: Ubuntu, sans-serif;
    background-color: var(--bg);
    color: var(--text);
    transition: var(--bg-transition), box-shadow .1s;
    border: none;
    padding: .5rem;
    font-size: 16px;
    border-radius: var(--border-radius);
    text-decoration: none;
    text-align: center;
}

a.btn:hover {
    background-color: var(--highlight);
    box-shadow: var(--button-hover-shadow);
    top: auto;
    z-index: 1;
}

.icon {
    /*noinspection CssUnknownProperty*/
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width: 2rem;
    height: 2rem;
}

header-bar {
    height: 5rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(5, 20%);
    text-decoration: none;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--bg-very-dark);

    h1 {
        grid-column: 1;
        padding-left: 1rem;
    }
    nav {
        display: flex;
        justify-content: space-evenly;
        align-self: center;
        margin: .5rem;
    }
    nav.create {
        display: flex;
        justify-content: flex-start;
    }
    a {
        color: var(--text);
        text-decoration: none;
    }
    search-bar {
        grid-column: 3/4;
        align-self: center;
    }
    nav.site-manager {
        grid-column: 5;
    }

}

search-bar {
    background-color: var(--bg);
    padding: .5rem;
    border-radius: var(--border-radius);
    transition: var(--bg-transition);

    input{
        width: 100%;
        height: 2rem;
        padding: 0;
        border-radius: 0;
    }
    input:focus {
        background-color: var(--bg-light);
    }
}

search-bar:focus-within {
    background-color: var(--bg-light);
    box-shadow: var(--popup-shadow);
}

input {
    background-color: var(--bg);
    border: none;
    font-size: 16px;
    color: var(--text);
    outline: none;
    transition: var(--bg-transition);
    padding: .5rem;
    border-radius: var(--border-radius);
}

input:focus {
    background-color: var(--highlight);
}

nav.site-manager {
    color: var(--text);
    align-self: center;
    display: flex;
    justify-content: right;
    align-content: center;
    gap: .5rem;
}
user-manager {
    align-self: center;

    button {
        display: flex;
        align-content: center;
        gap: .25rem
    }
    .name {
        align-self: center;
        text-align: center;
    }
    .icon {
        align-self: center;
    }
}

theme-switcher button {
    background-color: var(--bg);
    padding: .5rem;
    align-self: center;
    text-align: center;
}

.inner {
    background-color: var(--bg-dark);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: auto;
    height: calc(100% - 2rem);

    h2 {
        color: var(--text);
        text-align: center;
    }
    h3 {
        color: var(--text);
        text-align: center;
    }
}

.title {
    word-break: break-word;
    width: 40%;
    margin: .25rem;
    text-decoration: none;
    align-self: center;
    color: var(--text-muted);
}

stock-chart,stock-group-chart {
    svg path {
        fill: none;
        stroke-width: 1;
    }

    svg path.positive {
        stroke: var(--positiv);
    }

    svg path.negative {
        stroke: var(--negative);
    }

    svg line.axis {
        stroke: var(--icon-color);
        stroke-width: .75;
        stroke-linecap: square;
    }

    svg text.price {
        fill: var(--icon-color);
    }
}

stock-group-chart svg path.unhighlighted {
    stroke: var(--text-muted) !important;
}
stockgroups-member-pie-chart svg path.unhighlighted {
    fill: var(--text-muted) !important;
}

.login-field {
    background: var(--bg-dark);
    padding: 2rem;
    margin:auto;
    border-radius: var(--border-radius);
    width: 60%;
    display: grid;
    gap: 1rem;

    input {
        width: 32ch;
    }
    .pair {
        display: flex;
        justify-content: space-between;

        .info {
            color: var(--negative-muted);
        }
    }

    .pair:focus-within {
        color: var(--text);

        .info {
            color: var(--negative);
        }
    }
    button {
        padding: 1rem;
    }
}

.titlebar {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;

    h1 {
        text-align: center;
    }

    nav {
        justify-self: right;
    }
}

nav.displaySelector {
    display: flex;
    justify-content: start;
    justify-self: left;
}

.article {
    background-color: var(--bg-dark);
    border-radius: var(--border-radius);
    padding: 1rem;
    width: 50rem;
    line-height: 1.5em;
    font-size: 20px;
    margin: auto auto 1rem;
}
div.titlebar:has(article-header) {
    grid-template-columns: 1fr 52rem 1fr;
}

article-header div.subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    div:not(.value) {
        max-width: 50%;
        display: flex;
        gap: .5rem;
        align-items: center;
    }
    div.value {
        background-color: var(--bg);
        height: 1.5rem;
        align-self: center;
        align-content: center;
        text-align: center;
        font-size: 16px;
    }
}
influenced-stocks {
    width: 52rem;
    display: block;
    margin: auto auto 1rem;
}

div.piechart {
    aspect-ratio: 1/1;
    height: auto;
    width: 100%;
    border-radius: 50%;
}

.disabled {
    cursor: not-allowed;
}

color-selector button.selector {
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    width: 34ch;
}

div.contentTable {
    display: grid;
    gap: .5rem .25rem;

    .grid-full-width {
        grid-column: 1/final;
    }

    .containing {
        grid-column: 1/final;
        display: grid;
        grid-template-columns: subgrid;
        background-color: var(--bg);
        border-radius: var(--border-radius);
        padding: .25rem;
        transition: var(--bg-transition);
    }

    .containing:hover {
        background-color: var(--bg-light);
        color: var(--text);
        box-shadow: var(--button-hover-shadow);
    }

    .passthrough {
        grid-column: 1/final;
        display: grid;
        grid-template-columns: subgrid;
        gap: .5rem .25rem;
    }
}

div.contentTable.grid-1-name-3 {
    grid-template-columns: auto 1fr auto auto auto;
}

div.contentTable.grid-1-name-1 {
    grid-template-columns: auto 1fr auto;
}
div.contentTable.grid-1-name-2 {
    grid-template-columns: auto 1fr auto auto;
}

div.contentTable.grid-0-name-3 {
    grid-template-columns: 1fr auto auto auto;
}

div.contentTable.grid-0-name-2 {
    grid-template-columns: 1fr auto auto;
}

div.contentTable.grid-0-name-1 {
    grid-template-columns: 1fr auto;
}

div.contentTable.grid-0-name-switch {
    grid-template-columns: 1fr 4rem;
}

div.contentTable.grid-influence-stock-selector {
    grid-template-columns: 1fr 1fr 2rem;
}
div.contentTable.grid-stock-selector {
    grid-template-columns: 1fr 2rem;
}

.value {
    display: inline;
    background-color: var(--bg-light);
    font-family: "Ubuntu Mono",monospace;
    padding: .75rem;
    border-radius: var(--border-radius);
    text-align: center;
    align-self: center;
    transition: var(--bg-transition);
    color: var(--text-muted);
}

.containing {
    button {
        background-color: var(--bg-light);
        z-index: auto;
    }
    button.switch.false {
        background-color: var(--bg-light);
    }
    input.inputField {
        background-color: var(--bg-light);
    }
    input.inputField:focus {
        background-color: var(--bg-very-light);
    }
}

.containing:hover {
    .value {
        background-color: var(--bg-very-light);
        color: var(--text);
    }
    button {
        background-color: var(--bg-very-light);
        z-index: auto;
    }
    .name {
        color: var(--text);
    }
    .shorthand {
        background-color: var(--bg-very-light);
        color: var(--text);
    }
    button.switch.false {
        background-color: var(--bg-very-light);
    }
    input.inputField:focus {
        background-color: var(--highlight);
    }
    input.inputField {
        background-color: var(--bg-very-light);
    }
}


.name {
    word-break: break-word;
    text-decoration: none;
    align-self: center;
    color: var(--text-muted);
}

.shorthand:not(input) {
    display: inline;
    background-color: var(--bg-light);
    font-family: "Ubuntu Mono",monospace;
    padding: .75rem;
    border-radius: var(--border-radius);
    text-align: center;
    align-self: center;
    transition: var(--bg-transition);
    color: var(--text-muted);
}

.shorthand.colored {
    color: var(--text);
}

a.containing {
    text-decoration: none;
}

button.switch {
    display: flex;
    max-width: 4rem;
    justify-self: right;
    transition: all .2s;
    padding: .5rem;
    align-self: center;

    div.knob {
        transition: transform .2s;
        aspect-ratio: 1/1;
        width: 1.5rem;
        border-radius: 100%;
        background-color: var(--icon-color);
    }
}

button.switch.true {
    background-color: var(--positiv-muted);

    div.knob {
        transform: translate(1.5rem);
    }

}
button.switch.true:hover {
    background-color: var(--positiv);
}

div.containing.permission {
    padding: 1rem;
}

.containing.permission p,h3 {
    margin: 0;
}

button.switch.false div.knob {
    transform: translate(0rem);
}

div.pair:has(+ .contentTable) {
    margin-bottom: .5rem;
}

div.dangerZone {
    margin-bottom: 2rem;
    padding: .5rem;
    border: solid var(--negative) .25rem;
    border-radius: var(--border-radius);
    display: grid;
    gap: .5rem;
}
div.dangerZone .warning {
    text-align: center;
    color: var(--negative-muted);
}

div.actions {
    display: grid;
    gap: .5rem;

    button.submit {
        padding: 1rem;
    }
}

timeframe-selector {
    display: flex;
    gap: .25rem;
}


.not-selectable {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}